.header{
  width: 100%;
  height: 50px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;  
  color: #6C3483;
}

.header-inside{
  margin: 0 auto;
  width: 1200px;
  height: 50px;
  background: white;
  padding: 10px;
  display: flex;
  color: #6C3483;
}

.title{
  width: 550px;
  margin-left: 30px
}

.header-tools{
  height: 30px;
  width: 650px;
  padding: 10px;
  top: 5px;
  right: 30px; 
  display: flex;  
}

.polls{
  width: 300px;
  height: 200px;
  background: red;
  display: none;
  position: fixed;
  right: 20px;
  top: 70px;
}

button{
  color: grey;
  padding: 5px;
  margin-right: 10px;
  width: 100px;
  background: none;
  border: none;
  cursor: pointer;  
}

button:hover{
  border-bottom: 2px solid #6C3483;
}

.image{
  width:1200px;
  height: auto;
  margin: 0 auto;
  background: none;
}

.body-image{
  width: 1200px;
}

/**********************POLLS************************************/

.poll-header{
  text-align: center;
  color: darkblue;
  margin-top: 100px;
}

.poll-main{
  margin: 0 auto 30px;
  display: flex;
  align-contents: center;
  width: 1200px;
  background: black;
  color: white;
  height: auto;
}
.poll-pane{
  width: 300px;
  height: 500px;
  background: red;  
}
.poll-pane-head{
  text-align: center;
  text-decoration: underline;
  background: black;
}
.poll-pane-body{
  width: 300px;
  height: 400px;
  overflow: auto;
}
.poll-pane-polls{
  height:800px;
  background: green;
  padding: 10px;
}
.poll-view{
  padding: 10px;
  width: 900px;
}

.poll-view-head{
  text-align: center;
}
.poll-view-body{
  display: flex;
}
.poll-view-selection{
  width: 250px;
  height: 400px;
}
.poll-view-desc{
  width: 200px;
  height: auto;
  text-align: center;
  margin: 0 25px;
}

select{
  width: 200px;
  height: 30px;
  margin: 25px;
  outline: none;
}
select option:hover{
  color: red;
  background-color: green;
}
.submit-vote{
  margin: 30px 75px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 20px;
  border: 5px solid red;
  outline: none;
  cursor: pointer;
}

.submit-vote:hover{
  background: grey;
}
.submit-vote:active{
  width: 90px;
  height: 90px;
  margin: 35px 80px;
  background: grey;
}

.poll-view-chart{
  background: white;
  width: 600px;
  height: 400px;
  position: relative;
}

/*******************************LOGIN************************************************/
.login-container{
  width: 500px;
  height: 350px;
  background: none;
  margin: 0 auto;
  
}