.header{
  width: 100%;
  height: 50px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;  
  color: #6C3483;
  z-index : 4;
}
.header-inside{
  margin: 0 auto;
  width: 1200px;
  height: 50px;
  background: white;
  padding: 10px;
  display: flex;
  color: #6C3483;
}

.title{
  width: 600px;
  margin-left: 50px
}

.header-tools{
  height: 30px;
  width: 600px;
  padding: 10px;
  top: 5px;
  right: 30px; 
  display: flex;
}
.polls{
  width: 300px;
  height: 200px;
  background: red;
  position: fixed;
  right: 20px;
  top: 70px;
}
button{
  color: #4A235A;
  padding: 5px;
  margin-right: 10px;
  width: 100px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Marck Script', cursive;
  font-weight: bold;
  font-size: 20px;
}

button:hover{
  border-bottom: 2px solid #F39C12;
}

.image{
  width:1200px;
  height: 450px;
  display: block;
  margin: 100px auto;
}
.mySlides{
  width:1200px;
  height: 450px;
  display: none
}
.mySlides active{
  display:  block
}
.demo{
  border-radius: 50%;
  width: 20px;
  height:  20px;
  cursor: pointer;
}

/***************POLLS********************/
.poll-main{
  margin: 70px auto 30px;
  display: flex;
  align-contents: center;
  width: 1200px;
  background: white;
  height: auto;
}
.poll-pane{
  width: 300px;
  height: 600px;
  background: #4A235A;  
}
.poll-pane-head{
  text-align: center;
  text-decoration: underline;
  color: white;
  padding: 30px;
  background: #4A235A;
  font-family: 'Khand', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
}
.poll-pane-body{
  width: 300px;
  height: 460px;
  overflow: auto;
  background: #F5B041;
}
.poll-pane-polls{
  max-height:460px;
  background: #F5B041;
  padding: 10px;
  color: #6C3483;
  margin: 0px;
}
span{
  font-style: italic;
  font-family: 'Poiret One', cursive;
}
.poll-ref{
  cursor: pointer;
  padding: 10px 5px;
  border-bottom: 1px dotted white;
}

.active{
  background-color: #F39C12;
  font-weight: bold;
}
.poll-view{
  padding: 0px;
  width: 900px;
  background: #F39C12;
}
/************For voting page only************/
.vote-only{
  margin: 0 auto;
}

.poll-view-head{
  text-align: center;
  background: #F39C12;
  color: white;
  padding: 30px;
  font-family: 'Khand', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: auto
}
.poll-view-body{
  display: flex;
  background: #F39C12;
}
.poll-view-selection{
  width: 250px;
  height: 460px;
  background: #5B2C6F; 
}
#addOption{
  font-weight: bold;
}
.poll-view-desc{
  width: 200px;
  max-height: 100px;
  text-align: center;
  margin: 20px 25px 10px;
  color: white;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  overflow: auto;
}

select{
  width: 200px;
  height: 30px;
  margin: 25px;
  outline: none;
}
select option:hover{
  color: red;
  background-color: green;
}
.submit-vote{
  margin: 30px 75px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 30px;
  border: 5px solid white;
  outline: none;
  cursor: pointer;
  font-family: 'Khand', sans-serif;
  letter-spacing: 2px;
  border-top-color: green;
  border-bottom-color: green;
  background: white;
}

.submit-vote:hover{
  background: #A9DFBF;
}
.submit-vote:active{
  width: 90px;
  height: 90px;
  margin: 35px 80px;
  background: #F4F6F6;
}
.poll-link, .poll-link img{
  width: 112px;
  height: 40px;
  margin: 0 auto;
  cursor: pointer;
}
.poll-link img:active{
  width: 106px;
  height: 38px;
}
.poll-view-chartArea{
  background: #B3B6B7;
  width: 650px;
  height: 460px;
}

.poll-view-chartTitle{
  background: white;
  height: auto;
  color: black;
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 20px;
  padding: 10px;
  margin: 6px auto;
  overflow: auto;
}

.poll-view-chart{
  background: #B3B6B7;
  width: 650px;
  height: 320px;
}
.poll-view-chart div[rel = no-chart]{
  width: 600px;
  margin: 0 auto;
  color: white;
  text-align: center;
  background-color: black;
}

/* Own Option */
.box-container{
  position: absolute;
  left: 0;  
  height: 200px;
  width: 100%;
  z-index: 3;
}
.add-option, .create-poll{
  width: 600px;
  height: 200px;
  background: white;
  color: black;
  padding: 30px;
  position: relative;
  z-index: 100;
  margin:-550px auto 0px;
  border-radius: 10px;
  /* opacity: 0.9; */
  display: none;
}

.new-option{
  margin: 20px auto;
  width: 400px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.new-option input{
  width: 300px;
  height: 30px;
  font-size: 20px;
}
#optionWarning, .create-poll-warning{
  width: 580px;
  margin: 0 auto;
  text-align : center;
  color: red;
  margin-bottom: 5px;
}
.new-option-btns{
  width: 450px;
  height: 30px;
  text-align: center;
  margin: 0 auto;  
}
.new-option-btns input{
  width: 200px;
  height: 30px;
  background: #4A235A;
  color: white;
}

.create-poll{
  font-size: 20px;
}
.create-poll div{
  height: 30px;
  margin: 15px 0px 0px 70px;
}
.create-poll input{
  height: 25px;  
}
#createInputName{
  width: 400px;
}
#createInputDesc{
  width: 344px;
}
#createInputOptions{
  width: 374px;
}
.create-poll-btns{
  width: 454px;
  text-align: center;
}
.create-poll-btns input{
  width: 200px;
  padding: 5px;
  background: #212F3D;
  color: #F1C40F;
  font-weight: bold;
}

/* ***********Profile Styling******************** */
.profile-pix{
  width: 130px;
  height: 130px;
  margin: 80px auto 0px;
  border-radius: 50%;
  background: yellow;
  z-index: 1;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
}
.profile-main{
  width: 700px;
  height: 300px;
  background: #A569BD;
  margin: -75px auto;
  position: relative;
  border-radius: 10px;
  padding: 100px 20px 20px;
}
.profile-name{
  color: white;
  width: 400px;
  height : 10px;
  margin: 0 auto;
  text-align: center
}
.profile-poll-list{
  height: 230px;
  overflow: auto;
  padding: 0px;
}
.profile-poll{
  background: white;
  width: 550px;
  min-height: 30px;
  margin: 5px auto;
  padding: 15px 10px;
  display: flex;
}
.profile-poll span{
  width: 300px;
  font-weight: bold;
  color: #0B5345;
  font-size: 20px;
}
.profile-poll button{
  width: 125px;
  border: none;
}
#profilePollView{
  color: #0B5345
}
#profilePollDelete{
  color: #943126
}
#loading{
  width: 500px;
}
.delete-warning{
  position: relative;
  width: 500px;
  height: 50px;
  background-color: black;
  color: white;
  padding-top: 20px;
  font-size: large;
  font-weight: bold;
  margin: -200px auto;
  text-align: center;
  display: none;
}

/************SCREEN LOCKER*************/
.mask {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #424949;
  opacity: 0.5;
}

/**************DISPLAY BOX***************/
.display-box{
  display: none;
  width:  500px;
  height: 30px;
  padding: 15px 0px 10px;
  background: white;
  position: relative;
  margin: -350px auto 0px;
  z-index: 100;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: green;
  font-weight: bold;
}
#linkBox{
  width: 700px;
  height: auto;
}
.display-box-inner{
  width: 500px;
  min-height: 30px;
  overflow-x: auto;
  display: inline-block;
  text-align: left;
  color: black;
}
.display-box-inner span{
  color: blue;
}
.display-box button{
  color:red;
  width: 100px;
}

/****************LOGIN******************/
.login-container{
  width: 600px;
  height: auto;
  background: #F5CBA7;
  margin: 150px auto;
  text-align: center;
  padding: 50px;
  border-radius: 50px;
}
.login{
  margin: 0 auto;
  width: 400px;
}

.github-img{
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

/***************ERROR404********************/
.error404{
  width: 600px;
  height: 400px;
  margin: 100px auto;
}

.error404 img{
  width: 600px;
  height: 400px;
}